* {
  padding: 0;
  margin: 0;
  overflow: auto;
}
body {
  background-color: #8ba1bb;
  font-family: Arial;
}
.recipe {
  position: absolute;
  top: 25px;
  left: 0;
  right: 0;
}
.recipe p {
  background-color: black;
  margin: auto;
  width: fit-content;
  color: white;
  padding: 8px 20px;
  font-weight: 600;
}
.wrap {
  margin: 40px 8px 40px 8px;
  padding: 0px 8px 20px 8px;
  background-color: white;
  box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.1);
}
.wrap-title {
  margin: auto;
  max-width: fit-content;
  margin-top: 35px;
  margin-bottom: 3.5%;
  font-size: 2em;
  font-weight: bolder;
}
.line {
  margin: auto;
  width: 150px;
  margin-top: 3.5%;
  margin-bottom: 3.5%;
}
.wrap-desc {
  margin: auto;
  text-align: center;
  font-weight: bold;
}
.wrap-img {
  position: relative;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}
.wrap-img img {
  display: block;
  width: 100%;
  max-height: 400px;
  min-height: 200px;
  object-fit: cover;
}
.table-1 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  color: white;
  background-color: #6c829d90;
}
.table-1 th {
  vertical-align: bottom;
  padding-bottom: 8px;
  font-size: 14px;
}
.table-1 td {
  text-align: center;
  vertical-align: text-top;
  font-size: 12px;
}
.wrap-col {
  margin: auto;
  margin-bottom: 7%;
}
.col {
  width: 100%;
}
.col h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: 5px solid #6c829d;
}
.col1 {
  display: inline-block;
  margin-bottom: 20px;
}
.col1 p {
  border: 1px solid lightgray;
  padding: 5px;
  text-align: center;
  margin: 5px 0;
  font-size: 14px;
}

.table-2 p {
  background-color: #6c829d;
  text-align: center;
  padding: 4px;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  box-sizing: border-box;
}
.table-2 tr {
  height: 40px;
}
.table-2 td {
  vertical-align: top;
}
table td.text {
  padding-left: 10px;
  padding-bottom: 10px;
  font-size: 14px;
}

@media only screen and (min-width: 769px) {
  .wrap {
    margin: 60px auto 80px auto;
    padding: 0px 30px 30px 30px;
    min-width: 350px;
    max-width: 650px;
  }
  .recipe {
    top: 45px;
  }

  .table-1 {
    height: 80px;
  }
  .table-1 th {
    font-size: 16px;
  }
  .table-1 td {
    font-size: 14px;
  }
  .col {
    width: 45%;
  }
  .col1 {
    margin-right: 10%;
  }
  .col2 {
    float: right;
  }
}
